<p class="text-center">
    <button class="btn btn-outline-primary" (click)="loginWith('facebook')"><fa [name]="'facebook-square'" [size]="2"></fa></button>
    <button class="btn btn-outline-danger" (click)="loginWith('google')"><fa [name]="'google-plus-square'" [size]="2"></fa></button>
    <button class="btn btn-outline-primary" (click)="loginWith('twitter')"><fa [name]="'twitter-square'" [size]="2"></fa></button>
    <button class="btn btn-outline-info" (click)="loginWith('linkedin')"><fa [name]="'linkedin-square'" [size]="2"></fa></button>
    <button class="btn btn-outline-success" (click)="loginWith('github')"><fa [name]="'github-square'" [size]="2"></fa></button>
</p>