<div class="container">
    <div class="card col-sm">
        <div class="card-body">
            <h5 class="card-title">{{model.title}}</h5>
        </div>
        <div class="card-body">
            <label for="categoryDescription">Choose category</label>
            <select class="form-control" [(ngModel)]="model.categoryDescription" name="categoryDescription" id="categoryDescription">
          <option *ngFor="let option of categories" [value]="option.categoryDescription">{{option.categoryDescription}}</option>
        </select>
            <label for="levelDescription">Difficulty</label>
            <select class="form-control" [(ngModel)]="model.levelDescription" name="levelDescription" id="levelDescription">
          <option *ngFor="let option of difficulty" [value]="option.levelDescription">{{option.levelDescription}}</option>
        </select>
        </div>
        <div class="card-body">
            <button (click)="handleNextClick()" type="button" class="btn btn-outline-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#catModalCenter">{{model.btnTxt}}</button>
        </div>
    </div>
</div>
<!-- Category selection alert -->
<div class="modal fade" id="catModalCenter" tabindex="-1" role="dialog" aria-labelledby="catModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Confirmation
            </div>
            <div class="modal-body">
                <div class="container">
                    <p class="text-success">Hi you have selected {{model.categoryDescription}} with difficulty level {{model.levelDescription}} are you ready for challenge!</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-dismiss="modal">I'm ready let the war begin..</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">I wanna change settings.....</button>
            </div>
        </div>
    </div>
</div>
<!-- Question model -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#exampleModalCenter">
  Start test
</button>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">New question</h5>
            </div>
            <div class="modal-body">
                <p class="text-left">Left aligned text on all viewport sizes ggggg gggggg ggggggggg ggggggg gggggggggggg ggggggggggg gggggggggggg gggggggggggggggg.
                </p>
                <hr /> Option 1
                <hr /> Option 2
                <hr /> Option 3
                <hr /> Option 4
                <hr />
                <div class="container">
                    <p>
                        <a class="btn btn-outline-danger" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">View answer</a>
                    </p>
                    <p class="text-danger">This will reduce your score please try your best before viewing the answer</p>
                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                        <div class="card card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                        </div>
                    </div>
                </div>
                <hr />
                <div class="progress">
                    <div class="progress-bar bg-danger progress-bar-animated progress-bar-striped" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-success progress-bar-animated progress-bar-striped" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">End practice</button>
                <button type="button" class="btn btn-outline-primary">Next question</button>
            </div>
        </div>
    </div>
</div>
<!-- Question model end -->