<div class="container">
    <div class="card col-sm">
        <div class="card-body">
            <h5 class="card-title">{{model.title}}</h5>
        </div>
        <div class="card-body">
            <label for="categoryDescription">Choose category</label>
            <select class="form-control" [(ngModel)]="model.categoryDescription" name="categoryDescription" id="categoryDescription">
          <option *ngFor="let option of categories" [value]="option.categoryDescription">{{option.categoryDescription}}</option>
        </select>
            <label for="levelDescription">Difficulty</label>
            <select class="form-control" [(ngModel)]="model.levelDescription" name="levelDescription" id="levelDescription">
          <option *ngFor="let option of difficulty" [value]="option.levelDescription">{{option.levelDescription}}</option>
        </select>
        </div>
        <div class="card-body">
            <button (click)="handleNextClick()" type="button" class="btn btn-outline-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#catModalCenter">{{model.btnTxt}}</button>
        </div>
    </div>
</div>
<!-- Category selection alert -->
<div class="modal fade" id="catModalCenter" tabindex="-1" role="dialog" aria-labelledby="catModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Confirmation
            </div>
            <div class="modal-body">
                <div class="container">
                    <p class="text-success">Hi you have selected {{model.categoryDescription}} with difficulty level {{model.levelDescription}} are you ready for challenge!</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-dismiss="modal" (click)="openModal(template)">I'm ready let the war begin..</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">I wanna change settings.....</button>
            </div>
        </div>
    </div>
</div>
<ng-template #template>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">New question</h5>
    </div>
    <div class="question-modal-body">
        <div class="modal-body">
            <p class="text-left padding-b-10 border-b-q" [innerHTML]="'Q. ' + questions[nextQuestionIndex].question"></p>
            <p class="text-left padding-b-10 border-b-q" (click)="handleOptionClick(i)" *ngFor="let option of questions[nextQuestionIndex].options; let i = index">
                {{i + '. '}}<span [innerHTML]="option" [ngClass]="{'text-success': (questions[nextQuestionIndex].answer === i) && optionValidationArr[i],'text-danger': (questions[nextQuestionIndex].answer !== i) && optionValidationArr[i]}"></span>
                <span class="float-right" [ngClass]="{'text-success': (questions[nextQuestionIndex].answer === i) && optionValidationArr[i]}" *ngIf="(questions[nextQuestionIndex].answer === i) && optionValidationArr[i]">You are right</span><span class="float-right"
                    [ngClass]="{'text-danger': (questions[nextQuestionIndex].answer !== i) && optionValidationArr[i]}" *ngIf="(questions[nextQuestionIndex].answer !== i) && optionValidationArr[i]">Please try again</span>
            </p>
            <div class="container">
                <p>
                    <a class="btn btn-outline-danger" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">View answer</a>
                </p>
                <p class="text-danger">This will reduce your score please try your best before viewing the answer</p>
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div class="card card-body">
                        Correct answer: <span class="text-success">{{questions[nextQuestionIndex].answer}}</span><br> Explaination: <span></span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="progress">
                <div class="progress-bar bg-success progress-bar-animated progress-bar-striped" role="progressbar" [style.width.%]="progress.correctPer" [attr.aria-valuenow]="progress.correctPer" aria-valuemin="0" aria-valuemax="100">{{(progress.correctPer ? (progress.correctPer + '%'):'')}}</div>
                <div class="progress-bar bg-danger progress-bar-animated progress-bar-striped" role="progressbar" [style.width.%]="progress.wrongPer" [attr.aria-valuenow]="progress.wrongPer" aria-valuemin="0" aria-valuemax="100">{{(progress.wrongPer ? (progress.wrongPer+'%'):'')}}</div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" (click)="closeModal()">End practice</button>
            <button type="button" class="btn btn-outline-primary" (click)="getNextQuestion(template, resultTemplate)">{{(((questionArrLen-1) !== nextQuestionIndex) ? "Next question" : "View result")}}</button>
        </div>
    </div>
</ng-template>
<ng-template #resultTemplate>
    <div class="modal-header">
        <p class="text-success">Correct: {{progress.correct}}</p>
        <p class="text-danger">Wrong: {{progress.wrong}}</p>
        <p class="text-secondary">Not attempted: {{progress.totalQ-progress.correct-progress.wrong}}</p>
    </div>
    <div class="modal-body">
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <div class="container">
            <p class="text-success">Congratulations you have completed the set!</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closeModal()">Practice next set</button>
    </div>
</ng-template>