<div class="container">
    <div class="card col-sm mt-20" *ngFor="let qTypeObj of qdata; let i = index">
        <div class="card-body">
            <h5 class="card-title">{{qTypeObj.title}}</h5>
        </div>
        <div class="card-body">
            <label for="categoryDescription">Choose category</label>
            <select class="form-control" [name]="'categoryDescription' + i" [id]="'categoryDescription' + i" [(ngModel)]="qTypeObj.categoryDescription"><!--  -->
          <option *ngFor="let option of qTypeObj.categories" [value]="option.categoryDescription">{{option.categoryDescription}}</option>
        </select>
            <label for="levelDescription">Difficulty</label>
            <select class="form-control" [name]="'levelDescription' + i" [id]="'levelDescription' + i" [(ngModel)]="qTypeObj.levelDescription"><!--  -->
          <option *ngFor="let option of difficulty" [value]="option.levelDescription">{{option.levelDescription}}</option>
        </select>
        </div>
        <div class="card-body">
            <button (click)="openModal(templateConfirmation);updateModel(qTypeObj.categoryDescription, qTypeObj.levelDescription)" type="button" class="btn btn-outline-primary">Next</button>
            <!-- {{model.btnTxt}} -->
        </div>
    </div>
</div>
<ng-template #templateConfirmation>
    <div class="modal-header">
        Confirmation
    </div>
    <div class="modal-body">
        <div class="container">
            <p class="text-success">Hi you have selected {{model.categoryDescription}} with difficulty level {{model.levelDescription}} are you ready for challenge!</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="handleNextClick(template)"><!-- I'm ready let the war begin.. -->Yes</button>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closeModal()">I wanna change settings.....</button>
    </div>
</ng-template>

<ng-template #template>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">New question</h5>
    </div>
    <div class="question-modal-body">
        <div class="modal-body">
            <app-question [question]="questions[nextQuestionIndex].question"></app-question>
            <!-- <p class="text-left padding-b-10 border-b-q" [innerHTML]="'Q. ' + questions[nextQuestionIndex].question"></p> -->
            <p class="text-left padding-b-10 border-b-q" (click)="handleOptionClick(i)" *ngFor="let option of questions[nextQuestionIndex].options; let i = index">
                {{i + '. '}}<span [innerHTML]="option" [ngClass]="{'text-success': (questions[nextQuestionIndex].answer === i) && optionValidationArr[i],'text-danger': (questions[nextQuestionIndex].answer !== i) && optionValidationArr[i]}"></span>
                <span class="float-right" [ngClass]="{'text-success': (questions[nextQuestionIndex].answer === i) && optionValidationArr[i]}" *ngIf="(questions[nextQuestionIndex].answer === i) && optionValidationArr[i]">You are right</span><span class="float-right"
                    [ngClass]="{'text-danger': (questions[nextQuestionIndex].answer !== i) && optionValidationArr[i]}" *ngIf="(questions[nextQuestionIndex].answer !== i) && optionValidationArr[i]">Please try again</span>
            </p>
            <div class="container">
                <p>
                    <a class="btn btn-outline-danger" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">View answer</a>
                </p>
                <p class="text-danger">This will reduce your score please try your best before viewing the answer</p>
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div class="card card-body">
                        Correct answer: <span class="text-success">{{questions[nextQuestionIndex].answer}}</span><br> Explaination: <span class="text-success">{{questions[nextQuestionIndex].explaination}}</span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="progress">
                <div class="progress-bar bg-success progress-bar-animated progress-bar-striped" role="progressbar" [style.width.%]="progress.correctPer" [attr.aria-valuenow]="progress.correctPer" aria-valuemin="0" aria-valuemax="100">{{(progress.correctPer ? (progress.correctPer + '%'):'')}}</div>
                <div class="progress-bar bg-danger progress-bar-animated progress-bar-striped" role="progressbar" [style.width.%]="progress.wrongPer" [attr.aria-valuenow]="progress.wrongPer" aria-valuemin="0" aria-valuemax="100">{{(progress.wrongPer ? (progress.wrongPer+'%'):'')}}</div>
            </div>
        </div>
        <div class="modal-body text-center">
            <button type="button" class="btn btn-outline-primary" (click)="handleAllQuestionsClick(resultTemplate)">All questions</button>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" (click)="handleEndPracticeClick()">End practice</button>
            <button type="button" class="btn btn-outline-primary" (click)="getNextQuestion(template, resultTemplate)">{{(((questionArrLen-1) !== nextQuestionIndex) ? "Next question" : "View result")}}</button>
        </div>
    </div>
</ng-template>
<ng-template #resultTemplate>
    <div class="modal-header">
        <p class="text-success">Correct: {{progress.correct}}</p>
        <p class="text-danger">Wrong: {{progress.wrong}}</p>
        <p class="text-secondary">Not attempted: {{progress.totalQ-progress.correct-progress.wrong}}</p>
    </div>
    <div class="modal-body" *ngIf="!isAllQuestionModelVisible">
        <div class="progress">
            <div class="progress-bar bg-success progress-bar-animated progress-bar-striped" role="progressbar" [style.width.%]="progress.correctPer" [attr.aria-valuenow]="progress.correctPer" aria-valuemin="0" aria-valuemax="100">{{(progress.correctPer ? (progress.correctPer + '%'):'')}}</div>
            <div class="progress-bar bg-danger progress-bar-animated progress-bar-striped" role="progressbar" [style.width.%]="progress.wrongPer" [attr.aria-valuenow]="progress.wrongPer" aria-valuemin="0" aria-valuemax="100">{{(progress.wrongPer ? (progress.wrongPer+'%'):'')}}</div>
        </div>

        <div class="container">
            <p class="text-success">{{progress.correctPer === 100 ? resultMsg.fullyCorrect : resultMsg.partiallyCorrect}}</p>
        </div>
    </div>
    <div class="modal-body">
        <button [ngClass]="{'btn-success': (question.answer === answerArray[i]), 'btn-danger': answerArray[i] && (question.answer !== answerArray[i]),'btn-secondary': (!answerArray[i])}" *ngFor="let question of questions; let i = index" type="button" class="btn rounded-circle margin-r-5 margin-b-5"
            (click)="handleQuestionClick(template, i)">{{i}}</button>
    </div>
    <div class="modal-footer">
        <button type="button" *ngIf="!isAllQuestionModelVisible" class="btn btn-outline-primary" (click)="handleEndPracticeClick()">Practice next set</button>
        <button type="button" *ngIf="isAllQuestionModelVisible" class="btn btn-outline-primary" (click)="handleGoBackToPractice(template)">Go back to practice</button>
    </div>
</ng-template>