<!-- <div class="header-row-wrapper ss-l-font">
    <div class="name-wrapper">
        <a>SHEKHAR SUMAN</a>
    </div>
    <div class="header-container">
        <nav>
            <ul>
                <li class="nav-li nav-tab">
                    <a class="">ABOUT</a>
                </li>
                <li class="nav-li active-tab">
                    <a class="">PODCASTS</a>
                </li>
                <li class="nav-li nav-tab">
                    <a class="">ARTICLES</a>
                </li>
                <li class="nav-li nav-tab">
                    <a class="">COURSES</a>
                </li>
                <li class="nav-li nav-tab">
                    <a class="">PROJECTS</a>
                </li>
                <li class="nav-li nav-tab">
                    <a class="">INNOVATIONS</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="body-wrapper ss-xl-font">
    <div class="podcast-card-wrapper">
        The Art Of Charm
    </div>
    <div class="podcast-card-wrapper">
        The One You Feed
    </div>
    <div class="podcast-card-wrapper">
        The Art Of Charm
    </div>
    <div class="podcast-card-wrapper">
        The One You Feed
    </div>
    <div class="podcast-card-wrapper">
        The Art Of Charm
    </div>
    <div class="podcast-card-wrapper">
        The One You Feed
    </div>
    <div class="podcast-card-wrapper">
        The Art Of Charm
    </div>
    <div class="podcast-card-wrapper">
        The One You Feed
    </div>
</div> -->


<!-- <mat-tab-group>
    <mat-tab label="Tab 1">Content 1</mat-tab>
    <mat-tab label="Tab 2">Content 2</mat-tab>
    <mat-tab label="Tab 2">Content 2</mat-tab>
    <mat-tab label="Tab 2">Content 2</mat-tab>
    <mat-tab label="Tab 2">Content 2</mat-tab>
    <mat-tab label="Tab 2">Content 2</mat-tab>
</mat-tab-group> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto flex-row">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Candidate experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Interview questions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Placement papers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Interests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Forum</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Your score: 500 (Ranking 1)</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="card text-right w-100" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">SSC examination date</h5>
            <p class="card-text">SSC declared examination dates for next exam.</p>
            <a href="#" class="btn btn-primary">Wanna know complete story</a>
        </div>
    </div>
</div>