<div class="header-row-wrapper ss-l-font">
    <div class="name-wrapper">
        <!-- <a>SHEKHAR SUMAN</a> -->
    </div>
    <div class="header-container">
        <nav>
            <ul>
                <li class="nav-li nav-tab">
                    <a class="">ABOUT</a>
                </li>
                <li class="nav-li active-tab">
                    <a class="">PODCASTS</a>
                </li>
                <li class="nav-li nav-tab">
                    <a class="">ARTICLES</a>
                </li>
                <li class="nav-li nav-tab">
                    <a class="">COURSES</a>
                </li>
                <li class="nav-li nav-tab">
                    <a class="">PROJECTS</a>
                </li>
                <li class="nav-li nav-tab">
                    <a class="">INNOVATIONS</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="body-wrapper ss-xl-font">
    <div class="podcast-card-wrapper">
        The Art Of Charm
    </div>
    <div class="podcast-card-wrapper">
        The One You Feed
    </div>
    <div class="podcast-card-wrapper">
        The Art Of Charm
    </div>
    <div class="podcast-card-wrapper">
        The One You Feed
    </div>
    <div class="podcast-card-wrapper">
        The Art Of Charm
    </div>
    <div class="podcast-card-wrapper">
        The One You Feed
    </div>
    <div class="podcast-card-wrapper">
        The Art Of Charm
    </div>
    <div class="podcast-card-wrapper">
        The One You Feed
    </div>
</div>