.header-row-wrapper {
    background: #8245CE;
    /* #ef6c00; */
    display: flex;
    height: 48px;
    padding: 0 24px;
    position: relative;
}

.name-wrapper {
    display: inline-block;
    margin: 12px 0;
    font-size: 20px;
    color: #fff;
}

.nav-li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    padding: 2px 10px;
}

.nav-li:hover {
    color: #fff;
}

.nav-tab {
    color: rgba(255, 255, 255, .7);
}

.active-tab {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.ss-xl-font {
    font-size: 18px;
}

.ss-l-font {
    font-size: 16px;
}

.ss-m-font {
    font-size: 14px;
}

.ss-s-font {
    font-size: 12px;
}

.body-wrapper {
    display: flex;
}

.podcast-card-wrapper {
    padding: 20px;
    margin: 5px;
    color: #000;
    border: 1px solid #8245CE;
    border-radius: 5px;
}