<!-- <div class="header-row-wrapper ss-l-font">
    <div class="name-wrapper">
        <a>SHEKHAR SUMAN</a>
    </div>
    <div class="header-container">
        <nav>
            <ul>
                <li class="nav-li nav-tab">
                    <a class="">ABOUT</a>
                </li>
                <li class="nav-li active-tab">
                    <a class="">PODCASTS</a>
                </li>
                <li class="nav-li nav-tab">
                    <a class="">ARTICLES</a>
                </li>
                <li class="nav-li nav-tab">
                    <a class="">COURSES</a>
                </li>
                <li class="nav-li nav-tab">
                    <a class="">PROJECTS</a>
                </li>
                <li class="nav-li nav-tab">
                    <a class="">INNOVATIONS</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="body-wrapper ss-xl-font">
    <div class="podcast-card-wrapper">
        The Art Of Charm
    </div>
    <div class="podcast-card-wrapper">
        The One You Feed
    </div>
    <div class="podcast-card-wrapper">
        The Art Of Charm
    </div>
    <div class="podcast-card-wrapper">
        The One You Feed
    </div>
    <div class="podcast-card-wrapper">
        The Art Of Charm
    </div>
    <div class="podcast-card-wrapper">
        The One You Feed
    </div>
    <div class="podcast-card-wrapper">
        The Art Of Charm
    </div>
    <div class="podcast-card-wrapper">
        The One You Feed
    </div>
</div> -->


<!-- <mat-tab-group>
    <mat-tab label="Tab 1">Content 1</mat-tab>
    <mat-tab label="Tab 2">Content 2</mat-tab>
    <mat-tab label="Tab 2">Content 2</mat-tab>
    <mat-tab label="Tab 2">Content 2</mat-tab>
    <mat-tab label="Tab 2">Content 2</mat-tab>
    <mat-tab label="Tab 2">Content 2</mat-tab>
</mat-tab-group> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">fl.org</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/home">Home</a>
            </li>
            <li class="nav-item  active">
                <a class="nav-link" href="#" routerLink="/practice">Practice</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Candidate experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Interview questions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Placement papers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Interests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Forum</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Your score: 500 (Ranking 1)</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>

<div class="container">
    <div class="card col-sm">
        <div class="card-body">
            <h5 class="card-title">Aptitude</h5>
        </div>
        <div class="card-body">
            <label for="catFormControlSelect1">Choose category</label>
            <select class="form-control" id="catFormControlSelect1">
            <option>Problems on train</option>
            <option>Permutations and combinations</option>
          </select>
            <label for="diffFormControlSelect1">Difficulty</label>
            <select class="form-control" id="diffFormControlSelect1">
            <option>Easy</option>
            <option>Medium</option>
            <option>Hard</option>
          </select>
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-outline-primary">Next</button>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card text-right w-100" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">SSC examination date</h5>
            <p class="card-text">SSC declared examination dates for next exam.</p>
            <a href="#" class="btn btn-primary">Wanna know complete story</a>
        </div>
    </div>
</div>

<!-- Question model -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#exampleModalCenter">
  Start test
</button>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">New question</h5>
            </div>
            <div class="modal-body">
                <div class="text-left">
                    <pre class="lang-c line-numbers mt-0 mb-0">
                    <code>
                            main() {{'{'}} 
                                int a = 10; 
                                float b = 34.8; 
                            {{'}'}}
                        </code>
                    </pre>
                </div>
                <!-- <hr /> Option 1
                <hr /> Option 2
                <hr /> Option 3
                <hr /> Option 4
                <hr /> -->
                <div class="container">
                    <p>
                        <a class="btn btn-outline-danger" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">View answer</a>
                    </p>
                    <p class="text-danger">This will reduce your score please try your best before viewing the answer</p>
                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                        <div class="card card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                        </div>
                    </div>
                </div>
                <hr />
                <div class="progress">
                    <div class="progress-bar bg-danger progress-bar-animated progress-bar-striped" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-success progress-bar-animated progress-bar-striped" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">End practice</button>
                <button type="button" class="btn btn-outline-primary">Next question</button>
            </div>
        </div>
    </div>
</div>
<!-- Question model end -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#resultModalCenter">
      View result
</button>
<div class="modal fade" id="resultModalCenter" tabindex="-1" role="dialog" aria-labelledby="resultModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="text-success">Correct: 4</p>
                <p class="text-danger">Wrong: 5</p>
                <p class="text-secondary">Not attempted: 1</p>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

                <div class="container">
                    <p class="text-success">Congratulations you have completed the set!</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Practice next set</button>
            </div>
        </div>
    </div>
</div>
<!-- /// -->

<!-- /// -->
<!-- Category selection alert -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#catModalCenter">
      Category
</button>
<div class="modal fade" id="catModalCenter" tabindex="-1" role="dialog" aria-labelledby="catModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Confirmation
            </div>
            <div class="modal-body">
                <div class="container">
                    <p class="text-success">Hi you have selected problems on train with category hard are you ready for challenge!</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-dismiss="modal">I'm ready let the war begin..</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">I wanna change settings.....</button>
            </div>
        </div>
    </div>
</div>